13 - Integrating Via Http and Rest/PPPDDD.SOAP.SocialMedia/Discovery/Service References/AccountManagement/FollowerDirectory3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3100/FollowerDirectory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccountManagement" />
  <xs:element name="FindUsersFollowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersFollowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccountManagement" minOccurs="0" name="FindUsersFollowersResult" nillable="true" type="q1:ArrayOfFollower" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>